@model Assignment_1.Models.ClassUserViewModel
@*@model IEnumerable<Assignment_1.Models.Class>*@
@{
    ViewData["Title"] = "Details";
}
@{
    ViewData["Title"] = "Classes";
}

<script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
<script>
    function showNotification() {
        var menu = document.getElementById("notification-menu")
        if (menu.hidden == true) {
            menu.hidden = false;
        }
        else {
            menu.hidden = true;
        }
    }

    document.addEventListener("click", function() {
        console.log(@Html.Raw(Json.Serialize(@ViewData)));
    })
</script>

<h1>
    Welcome
    @Html.DisplayFor(model => model.viewUser.FirstName)
    @Html.DisplayFor(model => model.viewUser.LastName)
</h1>
<style>
    .h1 {
        position: fixed;
        left: 1000px;
    }

    .links {
        position: fixed;
        bottom: 100px;
    }

    .notification {
        width: 10px;
        position: fixed;
        left: 20px;
        top: 65px;
    }

	.notification-menu {
        width: 200px;
        height:150px;
		position: fixed;
        left: 30px;
        top: 106px;
        z-index: 4;
        background-color: #f5bb00;
    }

    .vertical-menu {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        width: 200px;
        /* Set a width if you like */
        border: hidden;
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        text-align: center;
        overflow: hidden;
    }

    .vertical-menu-item {
        text-decoration: none;
        color: darkslategrey;
        transition: 0.3s;
        padding:5px;
        margin:5px;
    }

        .vertical-menu-item a {
            text-decoration: none;
        }

        .vertical-menu-item:hover {
            border-color:lightblue;
            background-color: #eedeff;
        }


    .card {
        /* Add shadows to create the "card" effect */
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        transition: 0.3s;
        width: 20%;
        margin: 50px;
        border-radius: 5px;
        padding: 6px;
        min-width: 200px;
    }

    .card a{
        color:darkslategray;
        text-decoration:none;
    }

        /* On mouse-over, add a deeper shadow */
        .card:hover {
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            background-color: #eedeff
        }

    /* Add some padding inside the card container */
    .container {
        padding: 2px 16px;
    }
</style>
<div class="d-flex flex-md-row justify-content-between">
    <div class="text-center d-flex justify-content-around flex-wrap">
        @if (Model.viewUser.UserType != null)
        {
            @if (Model.viewUser.UserType == "Student")
            {
                foreach (var item in Model.classes)
                {
                    @*@Html.DisplayNameFor(model => model.Classes.Department)*@
                    <div class="card" id=@item.ClassId>
                        <a href="@Url.Action("Index", "Course", new { classID = item.ClassId })">
                            <div class="container">
                                <h6>
                                    <b>
                                        @Html.DisplayFor(modelItem => item.CourseName) <br /> @Html.DisplayFor(model => item.CourseNumber)
                                    </b>
                                </h6>
                                <p>
                                    @Html.DisplayFor(modelItem => item.DaysOfWeek) <br /> at @Html.DisplayFor(modelItem => item.StartTime)
                                    <br /> to @Html.DisplayFor(modelItem => item.EndTime)
                                </p>
                                <p>@Html.DisplayFor(modelItem => item.Location)</p>
                            </div>
                        </a>
                    </div>
                }
            }
            @if (Model.viewUser.UserType != "Student")
            {
                foreach (var item in Model.classes)
                {
                    <div class="card" id=@item.ClassId>
                        <a href="@Url.Action("Index", "Course", new { classID = item.ClassId })">
                            <div class="container">
                                <h6>
                                    <b>
                                        @Html.DisplayFor(modelItem => item.CourseName) <br /> @Html.DisplayFor(model => item.CourseNumber)
                                    </b>
                                </h6>
                                <p>
                                    @Html.DisplayFor(modelItem => item.DaysOfWeek) <br /> at @Html.DisplayFor(modelItem => item.StartTime)
                                    <br /> to @Html.DisplayFor(modelItem => item.EndTime)
                                </p>
                                <p>@Html.DisplayFor(modelItem => item.Location)</p>
                            </div>
                        </a>
                    </div>
                }
            }
        }
    </div>

    <div>
        <div class="vertical-menu">
            <div class="active" style="background-color:#dd8844">ToDo's</div>
            @foreach (var item in Model.todoitems)
            {
                /*<div class="vertical-menu-item">*/
                <a class="vertical-menu-item" href="@Url.Action("Assignment", "ClassAssignments", new { ID = item.ID })">@Html.DisplayFor(modelData => item.AssignmentTitle)<br>class: @Html.DisplayFor(modelData => item.CourseNumber)</a>
                /*</div>*/
            }
            <div class="active" style="background-color:#dd8844">ToDo's</div>
        </div>
    </div>
</div>
<div class="notification">
    <button onclick="showNotification()">
        <i class='far fa-bell'></i>
    </button>
</div>

<div hidden class="notification-menu" id="notification-menu">
    <ul>
        @foreach(var notif in Model.notifications)
        {
            <li>@notif</li>
        }
    </ul>
</div>
@*@Url.Action("Index", "Assignment", new { assignmentID = item.ID })*@

<div class="links">

  @*  <a asp-action="Details" asp-route-id="model.Id">Account Settings</a>*@
</div>
