@model IEnumerable<Assignment_1.Models.Class>

@{
    ViewData["Title"] = "Classes";
}

<h1>Classes</h1>

<p>
    <a name="create" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserId) @*temporary, so we can make sure it only shows the teacher's courses*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Department)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CourseName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumOfCredits)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DaysOfWeek)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @*
            *************** Shows every course that this user is teaching ***********************************************************
        *@
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserId) @*temporary, so we can make sure it only shows the teacher's courses*@
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumOfCredits)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DaysOfWeek)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ClassId">Edit</a>
                    @*<a href="@Url.Action("Edit", new { classID = item.ClassId })">Edit</a>*@
                    <a asp-action="Details" asp-route-id="@item.ClassId">Details</a> |
                   
                </td>
            </tr>
        }
    </tbody>
</table>
