@model Assignment_1.Models.AssignmentSubmissionViewModel
@{
	ViewData["Title"] = "Grade";
}

<div class="d-flex flex-column">
	<div>
		<h2>@Html.DisplayFor(model => model.Assignment.AssignmentTitle)</h2>
		<hr />
	</div>
	<div>
		<p>@Html.DisplayFor(model => model.Assignment.Description)</p>
	</div>
	<div>
		<h4>Max Points: @Html.DisplayFor(model => model.Assignment.MaxPoints) </h4>
	</div>
</div>
<br />
<div>
	<p>@*Put a check here for text or file submit type and handle file display?*@
		@Model.Submission.First().Data
	</p>
</div>
<hr />
<form asp-action="SetPoints">
	<input name="points" type="number" min="0" max="@Model.Assignment.MaxPoints" />
	<input name="ID" type="hidden" value="@Model.Submission.First().Id" />
	<br />
	<input value="Submit" type="submit" class="btn btn-primary" />
</form>

