@model Assignment_1.Models.ClassAssignments
@{
    ViewData["Title"] = "Submit";
}

<h1>Class info</h1>
@Html.DisplayFor(model => model.AssignmentTitle)
@Html.DisplayFor(model => model.MaxPoints)
@Html.DisplayFor(model => model.DueDate)
@Html.DisplayFor(model => model.DueTime)
@Html.DisplayFor(model => model.Description)
@Html.DisplayFor(model => model.SubmissionType)

