@model Assignment_1.Models.ClassUserAssignments

@{
    ViewData["Title"] = "Course";
}

<div class="text-center">
    <h1>@Model.Class.CourseName</h1>
</div>
<div class="class">
    <a  asp-action="Details" asp-route-id="@Model?.Class.ClassId">Create new Assignments</a>
  @*  <a href="@Url.Action("Index", "ClassAssignments",  { classID = item.ClassId })">*@
</div>







@*<table>
    <th>
        <tr>
            <td>
                Name
            </td>
            <td>
                Day Due
            </td>
            <td>
                Time Due
            </td>
        </tr>
    </th>
    <tbody>
        @foreach (var item in Model.Assignments)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelData => item.AssignmentTitle);
                </td>
                <td>
                    @Html.DisplayFor(modelData => item.DueDate);
                </td>
                <td>
                    @Html.DisplayFor(modelData => item.DueTime);
                </td>
                <td>
                    <button class="btn btn-primary">
                        Edit
                    </button>
                </td>
                <td>
                    <button class="btn btn-primary">
                        Delete
                    </button>
                </td>
                <td>
                    <button class="btn btn-primary">
                        Submissions
                    </button>
                </td>
            </tr>
        }
    </tbody>
</table>*@